@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}


 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica,'Poppins', Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
}

li{
  list-style:none;
  cursor: pointer;
  position: relative;
}
li:hover::before{
position: absolute;
content: '';
width: 100%;
background-color: #2a68ff;
right: 0;
color:#2a68ff;

}


.icon{
  cursor: pointer;

}


main {
  
  margin: 0 auto;
  border-radius: 6px;

}
.jobcard {
  background-color: whitesmoke;
  gap: 5px;
  border-radius: 8px;
  border-color: burlywood;
 border-color: chocolate;
  display: flex;
  margin: 36px;
  padding: 34px 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.page-wrapper{
  width: 100%;
  height:max-content;
overflow: hidden;
    margin: 0;
    padding: 0;
  
}
/* Basic button styles */
/* .buttonapply {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a1a15f; 
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
} */

/* Button hover effect */
/* .buttonapply:hover {
  background-color:  #906541; } */

/* Button active effect */
/* .buttonapply:active {
  background-color:#ffff;
} */

/* Button focus outline */
/* .buttonapply:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
} */


/* .small-container {
  margin-top: 100px;
  overflow: hidden;
  max-width: 600px;
  width: 1000px;
} */
/* .style {
  width: 21rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;

  margin-left: 27rem;
} */











/* Sidebar */
.side-navbar-backdrop {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}


