/* 



.navbar {
    background-color:  020A35;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
 
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar-brand:hover {
    color: #64635e;
  }
  
  .nav-link {
    color: #ffff;
    margin-right: 15px;
  }
  
  .nav-link:hover {
    color: #c96464;
  }
  
  .navbar-toggler-icon {
    color: #ffff;
  }
  
  .theme-switch-button {
    font-size: 1.2rem;
    margin-right: 15px;
    padding: 8px;
    background-color: #2c3e50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .theme-switch-button:hover {
    background-color: #34495e;
  }
  
  .fa-sun,
  .fa-moon {
    color: #f1c40f;
  }




  
   */

*{
  margin: 0;
  padding: 0;
}
   .navbar-toggler-icon {
    color:  #906541;
  }
  .navbar-brand:hover {
    color: #161301;
  }
   .theme-switch-button:hover {
    background-color: #34495e;
  }
   .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .theme-switch-button {
    font-size: 1.2rem;
    margin-right: 15px;
    padding: 8px;
    background-color: #2c3e50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

   .navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #906541;
    color: #fff;
    padding: 1rem;
  
  }

  .nav-link {
    color: #ffff;
    margin-right: 15px;
  }
  
  .nav-link:hover {
    color: #c96464;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    color:rgb(255, 255, 255);
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
    /* Apply styles specific to the night mode */
    /* For example, you can change the link color to white in the night mode */
    .navbar-links a {
      color: black;
    }
  
  
  .navbar-links a {
    color: #020202;
    text-decoration: none;
    margin: 0.5rem;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #444;
      width: 100%;
      text-align: center;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  
.login-button,
.logout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login-button:hover,
.logout-button:hover {
  background-color: #0056b3;
}
  